<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess Game</title>
</head>
<body>
<h1>Welcome to BobJr's Chess site</h1>
{% if username %}
    <p>Welcome, {{ username }}!</p>
    <a href="/logout">Logout</a>
    <br><br>
    <a href="/find-open">Find some Open Games to Join!</a>
    <br><br>
    <form action="/join" method="post">
        <label>
            Or enter a game code to join:
            <input type="text" name="game_code">
        </label>

        <button type="submit">Join Game</button>
    </form>
<form action="/new_game" method="post">
    <label>
        <input type="radio" name="game_type" value="public" checked> Public
    </label>
    <label>
        <input type="radio" name="game_type" value="private"> Private
    </label>
    <button type="submit">New Game</button>
</form>
{% else %}
<form action="/signup" method="post">
    <label>
        Enter a username to begin playing:
        <input type="text" name="username">
    </label>

    <button type="submit">Save Username</button>
</form>
    <p>If you signed up already but still have this query, try refreshing. If you still see this that means your username has been taken</p>
{% endif %}
</body>
</html>